.businessInfoAll {
  border: 1px solid;
  max-width: 350px;
  height: 275px;
  max-height: 300px;
  margin-top: 25px;
  border-radius: 5px;
}

.businessImage {
  margin-bottom: 7px;

}

.businessName {
  min-width: 150px;
  max-width: 175px;
  max-height: 100px;
}

.businessInfo {
  margin-left: -20px;
}

.icraveAddress {
  margin-left: -20px;
}

.icraveCityState {
  margin-left: -20px;
  margin-top: -10px;
}

.reviewSnippet {
  margin-left: -20px;
  min-height: 75px;
  max-height: 190px;
  
}

.imageSnippet {
  margin-left: -20px;
  margin-top: 15px;
}

.searchForm {
  min-height: 60px;
  background-image: radial-gradient(circle at 100% 100%, rgb(51, 177, 248) 0px, rgb(170, 129, 243) 100%);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /*margin-bottom: 15px;*/
}

.searchForm input {
    margin-top: 10px;
    background-color: rgba(143, 243, 243, 0.82);
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    border: 2px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.68);
}

.trendList {
  
  transition: all linear 0.5s;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.foodTrendList {
  display: none;
}

/*.foodListOverview {
  display: none;
}*/

.bg-light {
  background-color: #FDF3E7;

}

#background-one {
  background-image: url("../image/amazing-one.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;

  height: 300px;
}

#myLogo {
  /*position: absolute;*/
  height: 60px;
  margin-left: 50px;
}

#navbarSelect {
  margin-right: 100px;
  margin-top: 15px;
  font-size: 16px;
}

#searchTextKeyword {
    margin-left: 175px;
}

#searchTextLocation {
    margin-left: 25px;
}

#searchButton {
    margin-left: -115px;
    margin-top: 10px;
    background-color: rgba(71, 206, 31, 0.83);
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: 4px;
    cursor: pointer;
}

#trending {
  width: 250px;
}

/*#trendsSection {
  background-color: #FDF3E7;
  height: 650px;
}*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  black;
    font-weight: normal;
}