i {
  color: white;

}

/*ol {
  font-weight: bold;
  color: red;
}*/

.businessInfoAll {
  border: 1px solid;
  max-width: 350px;
  height: 275px;
  max-height: 300px;
  margin-top: 20px;
  
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #FDF3E7 inset;
}

.businessImage {
  margin-bottom: 7px;

}

.businessName {
  color: red;
  min-width: 150px;
  max-width: 175px;
  max-height: 100px;
}

.businessInfo {
  margin-left: -20px;
}

.icraveAddress {
  color: blue;
  margin-left: -20px;
}

.icraveCityState {
  color: blue;
  margin-left: -20px;
  margin-top: -10px;
}

.reviewSnippet {
  margin-left: -20px;
  min-height: 75px;
  max-height: 190px;
  
}

.imageSnippet {
  margin-left: -20px;
  margin-top: 15px;
}

.searchForm {
  min-height: 60px;
  background-color: #D32F2F;
}


.searchForm input {
    margin-top: 10px;
    background-color: white;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    border: 2px;
    color: black;
}

.trendType {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;

}


.ListOverview {
  
  margin-left: 25px;
  margin-top: -10px;
  padding: 10px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #D32F2F, 0 10px 15px #ebebeb inset;
  font-weight: normal;
  color: black;
}

.navbarList {
  color: #D32F2F;
}

.trendingName {
  color: black;
  max-width: 400px;
  /*display: list-item;*/

}

.active h4{
  color:red;
}

ul .active {
  color: black;
}

.trendingNow {
  padding: 15px;
  color: #4E595D;
}



#foodClick {
  margin-left: 5px;
  margin-right: 15px;

  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

#foodClick:hover {

  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}

#fashionClick {
  margin-right: 15px;

  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

#fashionClick:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}


#fitnessClick {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

#fitnessClick:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}


#trendingFooter {
  color: white;
  background-color: #D32F2F;
  padding: 5px;
  min-height: 50px;
  width: 1140px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#trendCategory {
  min-height: 60px;
  background-color: #F44336;

}

#trendDisplay {
  width: 1140px;
  margin-top: -41px;
  background: #fcfcfc;
  box-shadow: 0 10px 15px #D32F2F inset;
}

#searchDisplay {
  margin-top: -22px;
  height: 1000px;
  background: #fcfcfc;
  box-shadow: 0 10px 15px #D32F2F inset;
}

#trendingThisWeek {
  padding-top: 30px;
}

#background-one {
  background-image: url("../image/foodndrink.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -29px;
  margin-bottom: -9px;

  height: 300px;
}

#myLogo {
  /*position: absolute;*/
  height: 60px;
  margin-left: 50px;
}

#navbarSelect {
  margin-right: 100px;
  font-weight: bold;
  font-size: 16px;
  
}

#searchQuery {
  margin-left: 20px;
}


#searchTextKeyword {
  margin-left: 50px;
}

#searchTextLocation {

}

#searchButton {
    margin-left:  -40px;
    margin-top: 10px;
    background-color: rgba(71, 206, 31, 0.83);
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: 4px;
    cursor: pointer;

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  #C5CAE9;
    font-weight: normal;
}